.featured-wrapper {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eaecf0;
  background-image: url("../../../assets/featured-bg.jpg");
  /* Img Src crystalweed-cannabis-papBPuF484I-unsplash*/
  background-size: cover;
  background-position: 0 0;
  position: relative;
}

.featured-wrapper .featured-bg-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  position: absolute;
}

.featured-wrapper .featured-bottle {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.featured-wrapper .featured-bottle .featured-bottle-img {
  height: 20em;
  width: 16em;
  position: absolute;
  -webkit-transform: rotate(15deg) translateY(1em);
          transform: rotate(15deg) translateY(1em);
  background-image: url("../../../assets/tincture-img.png");
  /*Img Src kisspng-tincture-of-cannabis-bottle-propolis-herb-5b072fcf438db9.7342376515271976472767*/
  background-size: cover;
  background-position: center center;
  z-index: 3;
}

.featured-wrapper .featured-bottle .featured-bottle-blob {
  height: 25em;
  width: 25em;
  background-image: url("../../../assets/blob (1).svg");
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotate(40deg) translateY(-1em);
          transform: rotate(40deg) translateY(-1em);
}

.featured-wrapper .featured-bottle .featured-bottle-ring {
  height: 25em;
  width: 25em;
  border-radius: 50%;
  border: solid 1px #eaecf0;
  position: absolute;
}

.featured-wrapper .featured-details {
  height: 75%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5em;
  position: relative;
  z-index: 2;
}

.featured-wrapper .featured-details h6 {
  font-size: 24px;
}

.featured-wrapper .featured-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.featured-wrapper .featured-details ul li {
  width: 15em;
  margin: 2.5em;
  color: #eaecf0;
}

.featured-wrapper .featured-details ul li i {
  font-size: 32px;
  color: #5a7d57;
  display: inline-block;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
}

.featured-wrapper .featured-details button {
  width: 130px;
  height: 55px;
  background-color: #452007;
  color: #eaecf0;
  font-size: 24px;
  border-radius: 25px;
  border: solid 1px #eaecf0;
  -webkit-box-shadow: 3px 3px 5px #888;
          box-shadow: 3px 3px 5px #888;
  font-family: "Yellowtail", cursive;
}
/*# sourceMappingURL=Featured.css.map */