.confirmation-wrapper {
  background-image: url("../../../assets/cart-bg.jpg");
  background-size: cover;
  text-align: center;
  color: #eaecf0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .confirmation-header {
    position: relative;
    top: 20vh;
    z-index: 2;
    margin-bottom: 2em;
    font-family: "Yellowtail", cursive;
  }
  p {
    position: absolute;
    text-align: center;
    top: 40vh;
    width: 50%;
    color: #eaecf0;
    z-index: 2;
  }
  button {
    width: 130px;
    height: 55px;
    background-color: #452007;
    color: #eaecf0;
    font-size: 24px;
    border-radius: 25px;
    border: solid 1px #eaecf0;
    box-shadow: 3px 3px 5px #888;
    font-family: "Yellowtail", cursive;
    position: relative;
    z-index: 2;
    top: 50vh;
  }
  .confirmation-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
